doctype html
head
  title GIT Repos
body
  div#app
  link(rel='stylesheet' href=assets.vendor.css type='text/css')
  link(rel='stylesheet' href=assets.router.css type='text/css')
  script(src=assets.vendor.js)
  script(src=assets.router.js)